{% extends "base.html" %}
{% block title %}Add Record{% endblock %}

{% block content%}

    <br></br>
    <h1 align = "center">Add Record</h1>
    
    <form action="#" method="post" class = "container">

    <div class="form-group">
        <label for="exampleFormControlInput1">Free Chlorine (ppm) </label>
        <input class="form-control" type = "number" step= "0.1" min = "0" name = "chlorine_value">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">pH</label>
        <input class="form-control" type = "number" step= "0.1" min = "0" name = "pH_value">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Alkalinity</label>
        <input class="form-control" type = "number" step= "0.1" min = "0" name = "alkalinity_value">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Calcium Hardness</label>
        <input class="form-control" type = "number" step = "0.1" min = "0" name = "calcium_value">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Cyanuric Acid</label>
        <input class="form-control" type = "number" step = "0.1" min = "0" name = "cyanuricAcid_value">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Water Clarity</label>
        <input class="form-control" type = "text" name = "waterClarity_entry">
    </div>
         
        <input type = "submit" value = "Submit" class="btn btn-outline-primary" >

    </form>


{% endblock %}