{% extends "base.html" %}

{% block title %}Chemical Log{% endblock %}

{% block content%}

<main class = "container">

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <br></br>
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    <br></br>
    <h1 align = "center">Chemical Log</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Free Chlorine (ppm)</th>
      <th scope="col">pH</th>
      <th scope="col">Alkalinity</th>
      <th scope="col">Calcium Hardness</th>
      <th scope="col">Cyanuric Acid</th>
      <th scope="col">Water Clarity</th>
    </tr>
  </thead>

  <tbody>

    {% for chemicalEntry in entry %}

        <tr>
            <td scope = "row">{{ chemicalEntry.id }}</td>

        {% if chemicalEntry.chlorine > 5.0 or chemicalEntry.chlorine < 3.0 %}

            <td class="bg-danger">{{ chemicalEntry.chlorine }}</td>

        {% else %}

            <td>{{ chemicalEntry.chlorine }}</td>

        {% endif %}
        
        {% if chemicalEntry.pH > 7.8 or chemicalEntry.pH < 7.2 %} 

            <td class="bg-danger">{{ chemicalEntry.pH }}</td>

        {% else %}

            <td>{{ chemicalEntry.pH }}</td>

        {% endif %}
        
        {% if chemicalEntry.alkalinity > 180 or chemicalEntry.alkalinity < 60 %}

            <td class="bg-danger">{{ chemicalEntry.alkalinity }}</td>

        {% else %}

            <td>{{ chemicalEntry.alkalinity }}</td>

        {% endif %}
        
        {% if chemicalEntry.calciumHardness > 1000 or chemicalEntry.calciumHardness < 150 %}

            <td class="bg-danger">{{ chemicalEntry.calciumHardness }}</td>

        {% else %}

            <td>{{ chemicalEntry.calciumHardness }}</td>

        {% endif %}
        
        {% if chemicalEntry.cyanuricAcid > 50 or chemicalEntry.cyanuricAcid < 30 %}

            <td class="bg-danger">{{ chemicalEntry.cyanuricAcid }}</td>

        {% else %}

            <td>{{ chemicalEntry.cyanuricAcid }}</td>

        {% endif %}

        {% if chemicalEntry.waterClarity != "clear" %}

            <td class="bg-danger">{{ chemicalEntry.waterClarity }}</td>

        {% else %}

            <td>{{ chemicalEntry.waterClarity }}</td>

        {% endif %}

        </tr>

    {% endfor %}

  </tbody>
</table>

</main>

{% endblock %}