{% extends "base.html" %}
{% block title %}Chemicals{% endblock %}
{% block content%}
<!DOCTYPE html>
<html>
<head>
    <title>Chemicals</title>
    <link rel="stylesheet" href="../base" />
</head>
<body>
    <h1>Chemicals</h1>

    <h2>Add Chemical</h2>
    <form action="/addchemical" method="post">
        Chemical Name: <input type = "text" name = "chemical_name"> <br />
        Chemical Value: <input type = "number" name = "chemical_value" />
        <input type = "submit" name = "form" value = "Submit" />
    </form>
</body>
</html>
 