{% extends "base.html" %}

{% block title %}Chemical Log{% endblock %}

{% block content%}

<main class = "container">

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <br></br>
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}

    <br></br>
    <h1 align = "center">Chemical Log</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Free Chlorine (ppm)</th>
      <th scope="col">pH</th>
      <th scope="col">Alkalinity</th>
    </tr>
  </thead>

  <tbody>

    {% for chemicalEntry in entry %}

        <tr>
            <td scope = "row">{{ chemicalEntry.id }}</td>

        {% if chemicalEntry.chlorine > 5.0 or chemicalEntry.chlorine < 3.0 %}

            <td class="bg-danger">{{ chemicalEntry.chlorine }}</td>

        {% else %}

            <td>{{ chemicalEntry.chlorine }}</td>

        {% endif %}

          <td>{{ chemicalEntry.pH }}</td>
          <td>{{ chemicalEntry.alkalinity }}</td>

        </tr>

    {% endfor %}

  </tbody>
</table>

</main>

{% endblock %}