{% extends "base.html" %}
{% block title %}Rotation Schedule{% endblock %}

{% block content %} 

<main class="Site-content">
    <div ng-app="digiquatics" class="container ng-scope">
    <div ng-controller="TimeZoneWarningCtrl" class="ng-scope">
</div>


<h1><center>Employee Schedule</center></h1>

<body>

	<table border="5" cellspacing="0" align="center">
		<!--<caption>Timetable</caption>-->
		<tr>
			<td align="center" height="50" width="100">
				<b>Time/Day</b></br>
			</td>
			<td align="center" height="50" width="100">
				<b>Monday</b>
			</td>
			<td align="center" height="50" width="100">
				<b>Tuesday</b>
			</td>
			<td align="center" height="50" width="100">
				<b>Wednesday</b>
			</td>
			<td align="center" height="50" width="100">
				<b>Thursday</b>
			</td>
			<td align="center" height="50" width="100">
				<b>Friday</b>
			</td>
			<td align="center" height="50" width="100">
				<b>Saturday</b>
			</td>
            <td align="center" height="50" width="100">
				<b>Sunday</b>
			</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Bar</b>
			</td>
			<td align="center" height="50">Quinn</td>
			<td align="center" height="50">Quinn</td>
			<td align="center" height="50">Andrew</td>
			<td align="center" height="50">Andrew</td>
            <td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Swim Lessons Age: 5></td>
            <td rowspan="11" align="center" height="50">
				<h2>C<br>L<br>O<br>S<br>E<br>D</h2>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Pool</b>
			</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Closed- Cleaning</td>
			<td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Swim Lessons Age: 6-8</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Main Clubhouse</b>
			</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Swim Lessons Age: 9-12</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Fitness Center</b>
			</td>
            <td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Open Pool</td>
		</tr>
		<tr>
			<td align="center" height="50">
				<b>Kitchen</b>
			</td>
            <td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
			<td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Open Pool</td>
            <td align="center" height="50">Open Pool</td>
		</tr>			
	</table>
</body>

{% endblock %}